    <section class="intro">
        <hgroup>
            <h1>Jenny McBride</h1>
            <h2>UX/UI Developer &amp; Designer</h2>
        </hgroup>
        <p>Hi, I'm Jenny! I am a user interface developer with an unquenchable curiosity for the world around me.
        <p>Check out my portfolio below, have a look at my <a href="{{ SITEURL }}/resume">resume</a>, or shoot me an email at <a href="#" id="introemail">enable JavaScript, please</a>.
        <div class="rule">{% include "heart.svg" %}</div>
    </section>
