<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for article in articles %}
    <url>
        <loc>{{ SITEURL }}/{{ article.url }}</loc>
        {% if article.modified %}
        <lastmod>{{ article.modified.isoformat() }}</lastmod>
        {% else %}
        <lastmod>{{ article.date.isoformat() }}</lastmod>
        {% endif %}
    </url>
{% endfor %}

{% for page in pages %}
    <url>
        <loc>{{ SITEURL }}/{{ page.url }}</loc>
        <priority>1</priority>
    </url>
{% endfor %}
</urlset>
