/* Header
  ~----------------------------------------------------------------------~ */

header {
    h1 {
        font-size: 3rem;
        color: $insects;
        font-family: "Kaushan Script", cursive;
    }

    a:link {
        border-bottom: none;
    }
}
