// Variables
// ~--------------------------------------------------------------~ //

// Colors ~-------------------------------------------------------~ //

  $thejungle: rgb(2, 38, 39);
  $valley: rgb(86, 106, 91);
  $lordyupa: rgb(110, 96, 71);
  $ohmu: rgb(221, 172, 172);
  $desert: rgb(245, 241, 230);
  $kushana: rgb(254, 233, 136);
  $teto: rgb(250, 228, 182);
  $sea: rgb(220, 227, 208);
  $sky: rgb(63, 180, 221);
  $nausicaa: rgb(26, 153, 204);
  $insects: rgb(103, 81, 110);

// Ornamentation ~------------------------------------------------~ //

  $inline-border: 0.1rem dotted $valley;
